// custom setup code goes here
$white: #fff;
// $grey-dk-300: ;
// $grey-dk-100: ;
// $purple-000: ;
// $grey-dk-100: ;
$grey-lt-000: #f9f9f9bf;
$purple-000: #214E75;
$purple-100: #11447E;
$purple-300: #172650;
// $grey-lt-000: ;
// $grey-dk-000: ;

// buttons
 $border-radius: 0px;